@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SVCS</h1>
    <p class="lead">SVCS is a guiding as well as sharing app, it consider the users' posting as the main context. A trustable, mainingful self-build app
    it is still in the integration stage</p>
    <p><a href="https://svcswebapp.azurewebsites.net/Posts" class="btn btn-primary btn-lg">Check user sharing.. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            What you seeing here is the server part of the app, i create the server a view rather than logic implementation only. Only the administrator have the access to this page. 
            you should pass certain authentication process so that you can manage my users' data'
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Also Modifying</h2>
        <p>if you known the password of administrators, you are able to view and modify or delete certain inappropriate data</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>This server is based on cloud-computing, you can access the actual data by this cloud-based server anywhere anytime with any devices</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>