ion-list-header {
    background-color: #ececec;
    }
    .text-center {
    text-align: center;
    }
    .text-left {
    text-align: left;
    }
    .placeholder-profile {
    color: #cccccc;
    }
    .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
    }
    .profile-item {
        text-align: center;
      }
      
      .profile-picture {
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 3px;
        border-radius: 100%;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        margin: 0 auto;
        width: 128px;
        height: 128px;
        overflow: hidden;
      }
      
      .profile-picture img {
        width: 128px;
        border-radius: 100%;
      }
      
      .profile-name {
        padding-top: 20px;
        font-size: x-large !important;
        font-weight: bold !important;
        text-transform: capitalize;
      }
      .avatar{
        margin: auto;
        width:40% !important;  
height : 40% !important;  
max-width: 100px !important;  //any size
max-height: 100px !important;
     }
     .center{
        margin: auto;

     }
    